################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/Logbook/obj/Debug
/LogbookService/obj/Debug
/packages
/.vs
